In [1]:
import numpy as np
import pandas as pd
import csv
import requests

In [2]:
df= pd.read_csv('https://raw.githubusercontent.com/jaanu/Capstone_neighboring/master/us_restaurant.csv')
df

,Restaurant Name,City,Cuisines
0,Austin's BBQ and Oyster Bar,Albany,"BBQ, Burger, Seafood"
1,BJ's Country Buffet,Albany,"American, BBQ"
2,Cookie Shoppe,Albany,NaN
3,El Vaquero Mexican Restaurant,Albany,Mexican
4,Elements Coffee Co - Northwest,Albany,"Coffee and Tea, Sandwich"
5,Pearly's Famous Country Cookng,Albany,NaN
6,Chick-fil-A,Albany,Fast Food
7,Guang Zhou Chinese Restaurant,Albany,"Asian, Chinese, Vegetarian"
8,Harvest Moon,Albany,"Pizza, Bar Food, Sandwich"
9,Henry Campbell's Steakhouse,Albany,"Steak, Tapas, Bar Food"
10,Hong Kong Cafe,Albany,"Chinese, Seafood, Vegetarian"
11,House of China Restaurant II,Albany,Chinese
12,Jimmie's Hot Dogs,Albany,NaN
13,Locos Grill & Pub,Albany,"American, Burger, Sandwich"
14,Longhorn Steakhouse,Albany,"American, Steak"
15,Mikata Japanese Steakhouse,Albany,"Japanese, Steak, Sushi"
16,Shogun Japanese Steak House,Albany,"Japanese, Steak, Sushi"
17,The Catch Seafood Room & Oyster Bar,Albany,"Seafood, Tapas, Bar Food"
18,Villa Gargano,Albany,"Italian, Pizza"
19,3 Squares Diner,Albany,"American, Breakfast, Diner"
20,Last Resort Grill,Athens,"American, Southern, Southwestern"
21,Mama's Boy Restaurant,Athens,Southern
22,Sr. Sol 1,Athens,Mexican
23,Choo Choo Eastside,Athens,"Japanese, Korean"
24,The Grill,Athens,"Breakfast, Burger, Sandwich"
25,Big City Bread Cafe,Athens,"Breakfast, Sandwich"
26,Clocked,Athens,"American, Burger, Sandwich"
27,DePalma's Italian Cafe - Downtown,Athens,"American, Italian, Pizza"
28,DePalma's Italian Cafe - East Side,Athens,"American, Italian, Pizza"
29,Five & Ten,Athens,American
...,...,...,...
404,Masato Japanese,Valdosta,"Japanese, Sushi"
405,Mom & Dad's Italian Restaurant,Valdosta,Italian
406,Mori's Japanese Steakhouse & Sushi Bar,Valdosta,"Japanese, Steak, Sushi"
407,Passage 2 India,Valdosta,"Indian, Middle Eastern"
408,Rodeo Mexican Restaurant,Valdosta,Mexican
409,Steel Magnolias,Valdosta,Southern
410,Smok'n Pig B-B-Q,Valdosta,BBQ
411,Blue House Cafe,Vernonia,"Coffee and Tea, Mediterranean"
412,Masala Grill & Coffee House,Waterloo,"Indian, Middle Eastern"
413,Brown Bottle The Cedar Falls,Waterloo,"Italian, Pizza, Vegetarian"
414,Four Queens Dairy Cream,Waterloo,Desserts
415,Hong Kong Chinese Restaurant,Waterloo,Chinese
416,HuHot Mongolian Grill,Waterloo,"Asian, Chinese"
417,J's Homestyle Cooking,Waterloo,"American, Breakfast"
418,Montage,Waterloo,"American, Italian, Seafood"
419,Mulligan's Brick Oven Grill,Waterloo,"Burger, Pizza, Sandwich"
420,Sakura,Waterloo,"Japanese, Sushi"
421,Scratch,Waterloo,"Coffee and Tea, Desserts, Beverages"
422,SOHO Sushi Bar & Deli,Waterloo,"Sandwich, Sushi, Tapas"
423,Texas Roadhouse,Waterloo,"American, BBQ, Steak"
424,Tony's La Pizzeria,Waterloo,"Pizza, Sandwich"
425,Chapala,Waterloo,Mexican
426,Galleria de Paco,Waterloo,American
427,Golden China,Waterloo,Chinese
428,Rudy's Tacos,Waterloo,Mexican
429,The Screaming Eagle,Waterloo,"American, Bar Food"
430,The Thai Bowl,Waterloo,Thai
431,Tokyo Japanese Steak House,Waterloo,"Japanese, Steak, Sushi"
432,Theo Yianni's Authentic Greek Restaurant,Weirton,"Burger, Greek, Sandwich"
433,Fishpatrick's Crabby Cafe,Winchester Bay,"Burger, Seafood, Steak"

In [3]:
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /opt/conda/envs/DSX-Python35:

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0   conda-forge
    geopy:         1.17.0-py_0 conda-forge

geographiclib- 100% |################################| Time: 0:00:00  23.24 MB/s
geopy-1.17.0-p 100% |################################| Time: 0:00:00  34.71 MB/s

In [4]:

coordinates = pd.DataFrame(columns=['Latitude','Longitude'])
for r in df['Restaurant Name']:
    address = r
    geolocator = Nominatim(user_agent="my-application")
    try:
        location = geolocator.geocode(address)
        latitude = location.latitude
        longitude =location.longitude
    except:
        latitude=0
        longitude=0
    coordinates = coordinates.append({'Latitude':latitude,'Longitude':longitude},ignore_index=True)
df= df.join(coordinates, how ='outer')
df

,Restaurant Name,City,Cuisines,Latitude,Longitude
0,Austin's BBQ and Oyster Bar,Albany,"BBQ, Burger, Seafood",0,0
1,BJ's Country Buffet,Albany,"American, BBQ",0,0
2,Cookie Shoppe,Albany,NaN,0,0
3,El Vaquero Mexican Restaurant,Albany,Mexican,40.0943,-83.0854
4,Elements Coffee Co - Northwest,Albany,"Coffee and Tea, Sandwich",0,0
5,Pearly's Famous Country Cookng,Albany,NaN,0,0
6,Chick-fil-A,Albany,Fast Food,38.5737,-75.2862
7,Guang Zhou Chinese Restaurant,Albany,"Asian, Chinese, Vegetarian",14.0681,-60.9555
8,Harvest Moon,Albany,"Pizza, Bar Food, Sandwich",54.3121,-1.69017
9,Henry Campbell's Steakhouse,Albany,"Steak, Tapas, Bar Food",0,0
10,Hong Kong Cafe,Albany,"Chinese, Seafood, Vegetarian",43.0018,-75.9775
11,House of China Restaurant II,Albany,Chinese,0,0
12,Jimmie's Hot Dogs,Albany,NaN,0,0
13,Locos Grill & Pub,Albany,"American, Burger, Sandwich",32.0797,-81.0956
14,Longhorn Steakhouse,Albany,"American, Steak",40.5405,-105.077
15,Mikata Japanese Steakhouse,Albany,"Japanese, Steak, Sushi",0,0
16,Shogun Japanese Steak House,Albany,"Japanese, Steak, Sushi",0,0
17,The Catch Seafood Room & Oyster Bar,Albany,"Seafood, Tapas, Bar Food",0,0
18,Villa Gargano,Albany,"Italian, Pizza",38.4654,16.4832
19,3 Squares Diner,Albany,"American, Breakfast, Diner",31.0399,-84.8769
20,Last Resort Grill,Athens,"American, Southern, Southwestern",0,0
21,Mama's Boy Restaurant,Athens,Southern,41.8906,-87.6294
22,Sr. Sol 1,Athens,Mexican,42.4256,-2.07896
23,Choo Choo Eastside,Athens,"Japanese, Korean",0,0
24,The Grill,Athens,"Breakfast, Burger, Sandwich",-11.4738,43.3304
25,Big City Bread Cafe,Athens,"Breakfast, Sandwich",0,0
26,Clocked,Athens,"American, Burger, Sandwich",0,0
27,DePalma's Italian Cafe - Downtown,Athens,"American, Italian, Pizza",0,0
28,DePalma's Italian Cafe - East Side,Athens,"American, Italian, Pizza",0,0
29,Five & Ten,Athens,American,45.0713,4.83707
...,...,...,...,...,...
404,Masato Japanese,Valdosta,"Japanese, Sushi",0,0
405,Mom & Dad's Italian Restaurant,Valdosta,Italian,30.5634,-84.2213
406,Mori's Japanese Steakhouse & Sushi Bar,Valdosta,"Japanese, Steak, Sushi",0,0
407,Passage 2 India,Valdosta,"Indian, Middle Eastern",26.3242,94.5186
408,Rodeo Mexican Restaurant,Valdosta,Mexican,35.8603,-78.7052
409,Steel Magnolias,Valdosta,Southern,33.1465,-88.1777
410,Smok'n Pig B-B-Q,Valdosta,BBQ,0,0
411,Blue House Cafe,Vernonia,"Coffee and Tea, Mediterranean",45.8585,-123.196
412,Masala Grill & Coffee House,Waterloo,"Indian, Middle Eastern",0,0
413,Brown Bottle The Cedar Falls,Waterloo,"Italian, Pizza, Vegetarian",0,0
414,Four Queens Dairy Cream,Waterloo,Desserts,0,0
415,Hong Kong Chinese Restaurant,Waterloo,Chinese,25.9793,-80.2488
416,HuHot Mongolian Grill,Waterloo,"Asian, Chinese",39.7901,-105.081
417,J's Homestyle Cooking,Waterloo,"American, Breakfast",0,0
418,Montage,Waterloo,"American, Italian, Seafood",45.4623,5.71225
419,Mulligan's Brick Oven Grill,Waterloo,"Burger, Pizza, Sandwich",0,0
420,Sakura,Waterloo,"Japanese, Sushi",35.7235,140.224
421,Scratch,Waterloo,"Coffee and Tea, Desserts, Beverages",39.5938,-106.856
422,SOHO Sushi Bar & Deli,Waterloo,"Sandwich, Sushi, Tapas",0,0
423,Texas Roadhouse,Waterloo,"American, BBQ, Steak",38.5607,-90.4055
424,Tony's La Pizzeria,Waterloo,"Pizza, Sandwich",55.6707,12.5578
425,Chapala,Waterloo,Mexican,20.2798,-103.22
426,Galleria de Paco,Waterloo,American,0,0
427,Golden China,Waterloo,Chinese,32.1995,-98.2446
428,Rudy's Tacos,Waterloo,Mexican,41.4888,-90.4363
429,The Screaming Eagle,Waterloo,"American, Bar Food",50.8485,2.94639
430,The Thai Bowl,Waterloo,Thai,41.9257,-87.6494
431,Tokyo Japanese Steak House,Waterloo,"Japanese, Steak, Sushi",36.9024,-82.0599
432,Theo Yianni's Authentic Greek Restaurant,Weirton,"Burger, Greek, Sandwich",0,0
433,Fishpatrick's Crabby Cafe,Winchester Bay,"Burger, Seafood, Steak",0,0

In [5]:
import numpy as np
mask1= df.Latitude <0
mask2= df.Longitude >0
column_name1 = 'Latitude'
df.loc[mask1, column_name1] = 0
column_name2 = 'Longitude'
df.loc[mask2, column_name2] = 0
df= df.replace(0,np.nan)
df= df.replace(df['Latitude']<0,np.nan)
df= df.replace(df['Longitude']>0,np.nan)
# simply drop whole row with NaN in "Borough" column
df.dropna(subset=["Latitude"], axis=0, inplace = True)

# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)
df.dropna(subset=["Longitude"], axis=0, inplace = True)

# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)
df

,Restaurant Name,City,Cuisines,Latitude,Longitude
0,El Vaquero Mexican Restaurant,Albany,Mexican,40.094257,-83.085363
1,Chick-fil-A,Albany,Fast Food,38.573684,-75.286200
2,Guang Zhou Chinese Restaurant,Albany,"Asian, Chinese, Vegetarian",14.068107,-60.955487
3,Harvest Moon,Albany,"Pizza, Bar Food, Sandwich",54.312130,-1.690167
4,Hong Kong Cafe,Albany,"Chinese, Seafood, Vegetarian",43.001832,-75.977458
5,Locos Grill & Pub,Albany,"American, Burger, Sandwich",32.079725,-81.095565
6,Longhorn Steakhouse,Albany,"American, Steak",40.540493,-105.076547
7,3 Squares Diner,Albany,"American, Breakfast, Diner",31.039941,-84.876857
8,Mama's Boy Restaurant,Athens,Southern,41.890615,-87.629398
9,Sr. Sol 1,Athens,Mexican,42.425646,-2.078956
10,Taqueria Del Sol,Athens,"Mexican, Spanish",36.126600,-86.789405
11,The National,Athens,"International, Southern",47.611228,-122.339494
12,The Royal Peasant,Athens,Bar Food,33.938038,-83.387066
13,Transmetropolitan,Athens,"Italian, Pizza, Sandwich",33.958487,-83.376544
14,Trappeze Pub,Athens,"Burger, Bar Food",33.958494,-83.379016
15,The Bee's Knees,Augusta,"International, Tapas, Vegetarian",41.001192,-111.910303
16,Boll Weevil Cafe,Augusta,"Desserts, Sandwich, Southern",31.314453,-85.854016
17,Mellow Mushroom,Augusta,"Italian, Pizza, Sandwich",33.921787,-84.379529
18,Rhinehart's Oyster Bar,Augusta,"Bar Food, Sandwich, Seafood",33.513429,-82.050222
19,Takosushi,Augusta,"Mexican, Southwestern, Sushi",34.849926,-82.399637
20,The Chop House,Augusta,Steak,47.579741,-122.312325
21,The Taj of India,Augusta,Indian,38.905411,-77.057317
22,Augsburg Haus,Augusta,German,35.414527,-93.238232
23,Rhinehart's Oyster Bar,Augusta,"Burger, Seafood",33.513429,-82.050222
24,Thai Kitchen,Augusta,Thai,27.828085,-82.650218
25,El Kiosco Mexican Restaurant,Augusta,Mexican,33.485405,-82.504521
26,Bardenay,Boise,"American, Bar Food",43.568215,-116.222668
27,Flatbread Neapolitan Pizzeria,Boise,"Italian, Pizza",40.725182,-111.861083
28,Barbacoa Restaurant,Boise,"Latin American, Steak",10.016582,-64.640965
29,Big Jud's,Boise,"American, Burger, Sandwich",43.597425,-116.205655
...,...,...,...,...,...
206,Diamond Thai Cuisine,Sioux City,"Asian, Thai, Vegetarian",42.501302,-96.414000
207,Red Mesa Cantina,Tampa Bay,"Latin American, Mexican, Southwestern",27.769660,-82.636861
208,Ceviche Tapas Bar & Restaurant,Tampa Bay,"Spanish, Tapas",28.540505,-81.381370
209,The Moon Under Water,Tampa Bay,"British, Bar Food, Sandwich",53.482910,-2.246837
210,Edison: Food+Drink Lab,Tampa Bay,International,27.944466,-82.469358
211,Ceviche Tapas Bar & Restaurant,Tampa Bay,"Breakfast, Spanish, Tapas",28.540505,-81.381370
212,Salt Rock Grill,Tampa Bay,"American, Seafood, Steak",27.848574,-82.842271
213,Red Mesa Restaurant,Tampa Bay,"Breakfast, Mexican",36.970667,-109.391332
214,Ella's Americana Folk Art Cafe,Tampa Bay,"International, Italian, Southern",27.993641,-82.450910
215,Taco Bus,Tampa Bay,"Mexican, Vegetarian",27.995896,-82.450242
216,The Refinery,Tampa Bay,"Seafood, Steak",39.753712,-104.994836
217,Columbia Restaurant,Tampa Bay,"Cuban, Spanish",27.960102,-82.435225
218,Buffalo Wild Wings,Valdosta,Bar Food,40.407730,-105.005596
219,Bleu Pub,Valdosta,"Burger, Bar Food, Vegetarian",30.830555,-83.279749
220,Cheddar's Scratch Kitchen,Valdosta,American,34.303557,-83.860348
221,Friends Grille and Bar,Valdosta,"American, Southern",30.881501,-83.295534
222,La Jalisco Supermercato,Valdosta,Mexican,20.651729,-103.711181
223,Mom & Dad's Italian Restaurant,Valdosta,Italian,30.563427,-84.221336
224,Rodeo Mexican Restaurant,Valdosta,Mexican,35.860329,-78.705185
225,Steel Magnolias,Valdosta,Southern,33.146528,-88.177713
226,Blue House Cafe,Vernonia,"Coffee and Tea, Mediterranean",45.858520,-123.195524
227,Hong Kong Chinese Restaurant,Waterloo,Chinese,25.979296,-80.248758
228,HuHot Mongolian Grill,Waterloo,"Asian, Chinese",39.790060,-105.080725
229,Scratch,Waterloo,"Coffee and Tea, Desserts, Beverages",39.593774,-106.856195
230,Texas Roadhouse,Waterloo,"American, BBQ, Steak",38.560731,-90.405451
231,Chapala,Waterloo,Mexican,20.279764,-103.220359
232,Golden China,Waterloo,Chinese,32.199490,-98.244641
233,Rudy's Tacos,Waterloo,Mexican,41.488843,-90.436297
234,The Thai Bowl,Waterloo,Thai,41.925739,-87.649404
235,Tokyo Japanese Steak House,Waterloo,"Japanese, Steak, Sushi",36.902448,-82.059873

In [6]:
CLIENT_ID = 'ZWT0BYPVXFQS4ZYVDIXJDELDITQO0IA4QLERJSXIDUXNHQ3S' # your Foursquare ID
CLIENT_SECRET = 'AAWFF5QC2G44SRKIT2Z2WI4XZBBV5EZTENMMEHIJJWVPTBQS' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
radius=500
print('Your credentails:')
print('Client_Id ' + CLIENT_ID)
print('Client Secret:' + CLIENT_SECRET)

Your credentails:
Client_Id ZWT0BYPVXFQS4ZYVDIXJDELDITQO0IA4QLERJSXIDUXNHQ3S
Client Secret:AAWFF5QC2G44SRKIT2Z2WI4XZBBV5EZTENMMEHIJJWVPTBQS

In [7]:
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

Fetching package metadata .............
Solving package specifications: .

# All requested packages already installed.
# packages in environment at /opt/conda/envs/DSX-Python35:
#
geopy                     1.17.0                     py_0    conda-forge

In [8]:
import requests
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize



venueid=pd.DataFrame(columns=['venue_id'])
for i,r in df.iterrows():
    search_query=r['Restaurant Name']
    latitude = r['Latitude']
    longitude = r['Longitude']
    try:
        url = 'http://cladiusfernando-eval-test.apigee.net/foursquare/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
        venues = requests.get(url).json()['response']['venues']
        dataframe = json_normalize(venues)
        venue_id=dataframe['id'][0]
    except:
        print(search_query)
        venue_id=np.nan
    
    venueid =venueid.append({'venue_id': venue_id}, ignore_index = True)
    """url2 = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(venue_id, CLIENT_ID, CLIENT_SECRET, VERSION)
    try:
        rating = requests.get(url2).json()['response']['venue']['rating']
    except:
        rating=0
    print(rating)
    Rating =Rating.append({'rating': rating}, ignore_index = True)"""
df= df.join(venueid, how ='outer')
df

El Vaquero Mexican Restaurant
Guang Zhou Chinese Restaurant
Harvest Moon
Sr. Sol 1
The Bee's Knees
Augsburg Haus
Thai Kitchen
El Kiosco Mexican Restaurant
Barbacoa Restaurant
Bittercreek Ale House
Winifreds
Thai Moon Restaurant
Cafe Le Rue @ The Landings
B Merrell's
Deorio's
Meritage
Las Palmas
Los Pablos
Los Agaves
Azteca
Front Street Brewery
Los Agaves
Centro
Django
L. May Eatery
Los Aztecas
Hawg Wild BBQ & Catfish House
Antebellum
Ingleside Village Pizza
Dovetail
Sushi Thai Restaurant
Martin's BBQ
Seasons 52 Fresh Grill
Bosphorous Turkish Cuisine
Cactus Flower Cafe
The Fish House
Peg Leg Pete's
El Herradero
Monkeypod Kitchen by Merriman
Gazebo
Roy's
Wailana Coffee House
Henry's
Monterrey Mexican Restaurant
Red Mesa Restaurant
La Jalisco Supermercato
Rodeo Mexican Restaurant
Steel Magnolias
Hong Kong Chinese Restaurant
Scratch
Chapala

,Restaurant Name,City,Cuisines,Latitude,Longitude,venue_id
0,El Vaquero Mexican Restaurant,Albany,Mexican,40.094257,-83.085363,NaN
1,Chick-fil-A,Albany,Fast Food,38.573684,-75.286200,5ab51bd3446ea6289e2bf8c6
2,Guang Zhou Chinese Restaurant,Albany,"Asian, Chinese, Vegetarian",14.068107,-60.955487,NaN
3,Harvest Moon,Albany,"Pizza, Bar Food, Sandwich",54.312130,-1.690167,NaN
4,Hong Kong Cafe,Albany,"Chinese, Seafood, Vegetarian",43.001832,-75.977458,4ea4a5a5be7ba4918f303261
5,Locos Grill & Pub,Albany,"American, Burger, Sandwich",32.079725,-81.095565,50c9385ffe1e45fe50f0e06f
6,Longhorn Steakhouse,Albany,"American, Steak",40.540493,-105.076547,56d42849cd10d6b76f71a6d1
7,3 Squares Diner,Albany,"American, Breakfast, Diner",31.039941,-84.876857,4c3f06100596c928dc0a8578
8,Mama's Boy Restaurant,Athens,Southern,41.890615,-87.629398,57cf6782498e577643efc1bd
9,Sr. Sol 1,Athens,Mexican,42.425646,-2.078956,NaN
10,Taqueria Del Sol,Athens,"Mexican, Spanish",36.126600,-86.789405,50f8a693e4b05404c154501e
11,The National,Athens,"International, Southern",47.611228,-122.339494,4dc6d5311f6ef43b8a382bec
12,The Royal Peasant,Athens,Bar Food,33.938038,-83.387066,4b5b9ec3f964a520800b29e3
13,Transmetropolitan,Athens,"Italian, Pizza, Sandwich",33.958487,-83.376544,4b0752a1f964a520fffb22e3
14,Trappeze Pub,Athens,"Burger, Bar Food",33.958494,-83.379016,4e766e10ae60c3285192db22
15,The Bee's Knees,Augusta,"International, Tapas, Vegetarian",41.001192,-111.910303,NaN
16,Boll Weevil Cafe,Augusta,"Desserts, Sandwich, Southern",31.314453,-85.854016,4bc0aaa62a89ef3b46def088
17,Mellow Mushroom,Augusta,"Italian, Pizza, Sandwich",33.921787,-84.379529,4a4797edf964a520dca91fe3
18,Rhinehart's Oyster Bar,Augusta,"Bar Food, Sandwich, Seafood",33.513429,-82.050222,4bc25dbc2a89ef3b7fbcf388
19,Takosushi,Augusta,"Mexican, Southwestern, Sushi",34.849926,-82.399637,4b44135ff964a52023f125e3
20,The Chop House,Augusta,Steak,47.579741,-122.312325,4d3232e0c6cba35df5f51e7a
21,The Taj of India,Augusta,Indian,38.905411,-77.057317,4a9cb0b3f964a520b33720e3
22,Augsburg Haus,Augusta,German,35.414527,-93.238232,NaN
23,Rhinehart's Oyster Bar,Augusta,"Burger, Seafood",33.513429,-82.050222,4bc25dbc2a89ef3b7fbcf388
24,Thai Kitchen,Augusta,Thai,27.828085,-82.650218,NaN
25,El Kiosco Mexican Restaurant,Augusta,Mexican,33.485405,-82.504521,NaN
26,Bardenay,Boise,"American, Bar Food",43.568215,-116.222668,559dc9bf498e7a7d5ba94fc1
27,Flatbread Neapolitan Pizzeria,Boise,"Italian, Pizza",40.725182,-111.861083,50fcbdb8e4b0c3b218d024a7
28,Barbacoa Restaurant,Boise,"Latin American, Steak",10.016582,-64.640965,NaN
29,Big Jud's,Boise,"American, Burger, Sandwich",43.597425,-116.205655,4b687914f964a520c67a2be3
...,...,...,...,...,...,...
206,Diamond Thai Cuisine,Sioux City,"Asian, Thai, Vegetarian",42.501302,-96.414000,4bbcbaaf8ec3d13a62221b28
207,Red Mesa Cantina,Tampa Bay,"Latin American, Mexican, Southwestern",27.769660,-82.636861,4b19b010f964a52007e223e3
208,Ceviche Tapas Bar & Restaurant,Tampa Bay,"Spanish, Tapas",28.540505,-81.381370,4b05868ff964a520d96522e3
209,The Moon Under Water,Tampa Bay,"British, Bar Food, Sandwich",53.482910,-2.246837,4ade0de1f964a520956d21e3
210,Edison: Food+Drink Lab,Tampa Bay,International,27.944466,-82.469358,5019910be4b0ad58b3dd4873
211,Ceviche Tapas Bar & Restaurant,Tampa Bay,"Breakfast, Spanish, Tapas",28.540505,-81.381370,4b05868ff964a520d96522e3
212,Salt Rock Grill,Tampa Bay,"American, Seafood, Steak",27.848574,-82.842271,4b0586c6f964a520ea6d22e3
213,Red Mesa Restaurant,Tampa Bay,"Breakfast, Mexican",36.970667,-109.391332,NaN
214,Ella's Americana Folk Art Cafe,Tampa Bay,"International, Italian, Southern",27.993641,-82.450910,4b05b625f964a52065e122e3
215,Taco Bus,Tampa Bay,"Mexican, Vegetarian",27.995896,-82.450242,56fa60ff498e59e2fda4d66f
216,The Refinery,Tampa Bay,"Seafood, Steak",39.753712,-104.994836,540137c9498eec932d4e43ef
217,Columbia Restaurant,Tampa Bay,"Cuban, Spanish",27.960102,-82.435225,4b0586c4f964a520706d22e3
218,Buffalo Wild Wings,Valdosta,Bar Food,40.407730,-105.005596,4e7bcdf0183811c1da28291f
219,Bleu Pub,Valdosta,"Burger, Bar Food, Vegetarian",30.830555,-83.279749,4ba593a9f964a520be1339e3
220,Cheddar's Scratch Kitchen,Valdosta,American,34.303557,-83.860348,5a400848646e381ec695168d
221,Friends Grille and Bar,Valdosta,"American, Southern",30.881501,-83.295534,4c51bda9991c20a10f645288
222,La Jalisco Supermercato,Valdosta,Mexican,20.651729,-103.711181,NaN
223,Mom & Dad's Italian Restaurant,Valdosta,Italian,30.563427,-84.221336,5ac0016e5315930770ef624f
224,Rodeo Mexican Restaurant,Valdosta,Mexican,35.860329,-78.705185,NaN
225,Steel Magnolias,Valdosta,Southern,33.146528,-88.177713,NaN
226,Blue House Cafe,Vernonia,"Coffee and Tea, Mediterranean",45.858520,-123.195524,4e10ca511495c8d31bc13716
227,Hong Kong Chinese Restaurant,Waterloo,Chinese,25.979296,-80.248758,NaN
228,HuHot Mongolian Grill,Waterloo,"Asian, Chinese",39.790060,-105.080725,52b0bbad498e614a519b7ecb
229,Scratch,Waterloo,"Coffee and Tea, Desserts, Beverages",39.593774,-106.856195,NaN
230,Texas Roadhouse,Waterloo,"American, BBQ, Steak",38.560731,-90.405451,4b04a491f964a520e45522e3
231,Chapala,Waterloo,Mexican,20.279764,-103.220359,NaN
232,Golden China,Waterloo,Chinese,32.199490,-98.244641,4b6b0c47f964a5202fef2be3
233,Rudy's Tacos,Waterloo,Mexican,41.488843,-90.436297,4c76bfd45cd6b1f73ae13c94
234,The Thai Bowl,Waterloo,Thai,41.925739,-87.649404,4b1f1e06f964a520202424e3
235,Tokyo Japanese Steak House,Waterloo,"Japanese, Steak, Sushi",36.902448,-82.059873,4b6366bcf964a5202d772ae3

In [9]:
df.dropna(subset=["venue_id"], axis=0, inplace = True)

# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)
df

,Restaurant Name,City,Cuisines,Latitude,Longitude,venue_id
0,Chick-fil-A,Albany,Fast Food,38.573684,-75.286200,5ab51bd3446ea6289e2bf8c6
1,Hong Kong Cafe,Albany,"Chinese, Seafood, Vegetarian",43.001832,-75.977458,4ea4a5a5be7ba4918f303261
2,Locos Grill & Pub,Albany,"American, Burger, Sandwich",32.079725,-81.095565,50c9385ffe1e45fe50f0e06f
3,Longhorn Steakhouse,Albany,"American, Steak",40.540493,-105.076547,56d42849cd10d6b76f71a6d1
4,3 Squares Diner,Albany,"American, Breakfast, Diner",31.039941,-84.876857,4c3f06100596c928dc0a8578
5,Mama's Boy Restaurant,Athens,Southern,41.890615,-87.629398,57cf6782498e577643efc1bd
6,Taqueria Del Sol,Athens,"Mexican, Spanish",36.126600,-86.789405,50f8a693e4b05404c154501e
7,The National,Athens,"International, Southern",47.611228,-122.339494,4dc6d5311f6ef43b8a382bec
8,The Royal Peasant,Athens,Bar Food,33.938038,-83.387066,4b5b9ec3f964a520800b29e3
9,Transmetropolitan,Athens,"Italian, Pizza, Sandwich",33.958487,-83.376544,4b0752a1f964a520fffb22e3
10,Trappeze Pub,Athens,"Burger, Bar Food",33.958494,-83.379016,4e766e10ae60c3285192db22
11,Boll Weevil Cafe,Augusta,"Desserts, Sandwich, Southern",31.314453,-85.854016,4bc0aaa62a89ef3b46def088
12,Mellow Mushroom,Augusta,"Italian, Pizza, Sandwich",33.921787,-84.379529,4a4797edf964a520dca91fe3
13,Rhinehart's Oyster Bar,Augusta,"Bar Food, Sandwich, Seafood",33.513429,-82.050222,4bc25dbc2a89ef3b7fbcf388
14,Takosushi,Augusta,"Mexican, Southwestern, Sushi",34.849926,-82.399637,4b44135ff964a52023f125e3
15,The Chop House,Augusta,Steak,47.579741,-122.312325,4d3232e0c6cba35df5f51e7a
16,The Taj of India,Augusta,Indian,38.905411,-77.057317,4a9cb0b3f964a520b33720e3
17,Rhinehart's Oyster Bar,Augusta,"Burger, Seafood",33.513429,-82.050222,4bc25dbc2a89ef3b7fbcf388
18,Bardenay,Boise,"American, Bar Food",43.568215,-116.222668,559dc9bf498e7a7d5ba94fc1
19,Flatbread Neapolitan Pizzeria,Boise,"Italian, Pizza",40.725182,-111.861083,50fcbdb8e4b0c3b218d024a7
20,Big Jud's,Boise,"American, Burger, Sandwich",43.597425,-116.205655,4b687914f964a520c67a2be3
21,Flying Pie Pizzaria,Boise,Pizza,43.619442,-116.262374,4b2e7c96f964a5200ee124e3
22,Fork,Boise,"American, Burger",39.468163,-76.441907,4d6bc2f28e10224bf76a4cb6
23,Los Beto's,Boise,Mexican,32.133722,-110.923387,4b6c6553f964a52098362ce3
24,Lucianos Italian Restaurant,Boise,"Italian, Seafood, Vegetarian",40.695954,-80.035947,4d644d9a7f84f04d822af4b4
25,Mai Thai Restaurant,Boise,"Sushi, Thai",40.917374,-75.420493,55c29b7b498e47d029094bc8
26,Shige Japanese Cuisine,Boise,"Japanese, Sushi, Teriyaki",43.615842,-116.202977,4b4fbacaf964a520ec1227e3
27,The Egg Factory,Boise,Breakfast,53.745807,-2.013064,58926795cf11d448aabd0425
28,Texas Roadhouse,Boise,"American, BBQ, Steak",38.560731,-90.405451,4b04a491f964a520e45522e3
29,Brick 29,Boise,American,40.070724,-74.128056,4bc269984cdfc9b6ee259621
...,...,...,...,...,...,...
155,Hunan Palace,Sioux City,Chinese,42.437536,-96.362919,4be19db385670f47799d2bd7
156,Jerry's Pizza,Sioux City,Pizza,40.835843,-73.855484,4c9eb295ca44236a2aac2d99
157,Jim's Burgers,Sioux City,Burger,42.489526,-96.377052,4e2469de7d8b71715bc851fb
158,Milwaukee Wiener House,Sioux City,"American, Fast Food",42.493264,-96.406737,4bd1d5e4caff9521d96dd1f0
159,Minerva's Food & Cocktails,Sioux City,"American, Seafood, Steak",43.544408,-96.727096,4b4e7717f964a520c1ee26e3
160,Rebos,Sioux City,"Caribbean, Mexican, Cajun",42.494397,-96.395861,4ba3ac23f964a520a15238e3
161,Tokyo Japanese Steakhouse & Sushi Bar,Sioux City,"Japanese, Steak, Sushi",42.441315,-96.350781,4d6855760a25b60c08541690
162,Diamond Thai Cuisine,Sioux City,"Asian, Thai, Vegetarian",42.501302,-96.414000,4bbcbaaf8ec3d13a62221b28
163,Red Mesa Cantina,Tampa Bay,"Latin American, Mexican, Southwestern",27.769660,-82.636861,4b19b010f964a52007e223e3
164,Ceviche Tapas Bar & Restaurant,Tampa Bay,"Spanish, Tapas",28.540505,-81.381370,4b05868ff964a520d96522e3
165,The Moon Under Water,Tampa Bay,"British, Bar Food, Sandwich",53.482910,-2.246837,4ade0de1f964a520956d21e3
166,Edison: Food+Drink Lab,Tampa Bay,International,27.944466,-82.469358,5019910be4b0ad58b3dd4873
167,Ceviche Tapas Bar & Restaurant,Tampa Bay,"Breakfast, Spanish, Tapas",28.540505,-81.381370,4b05868ff964a520d96522e3
168,Salt Rock Grill,Tampa Bay,"American, Seafood, Steak",27.848574,-82.842271,4b0586c6f964a520ea6d22e3
169,Ella's Americana Folk Art Cafe,Tampa Bay,"International, Italian, Southern",27.993641,-82.450910,4b05b625f964a52065e122e3
170,Taco Bus,Tampa Bay,"Mexican, Vegetarian",27.995896,-82.450242,56fa60ff498e59e2fda4d66f
171,The Refinery,Tampa Bay,"Seafood, Steak",39.753712,-104.994836,540137c9498eec932d4e43ef
172,Columbia Restaurant,Tampa Bay,"Cuban, Spanish",27.960102,-82.435225,4b0586c4f964a520706d22e3
173,Buffalo Wild Wings,Valdosta,Bar Food,40.407730,-105.005596,4e7bcdf0183811c1da28291f
174,Bleu Pub,Valdosta,"Burger, Bar Food, Vegetarian",30.830555,-83.279749,4ba593a9f964a520be1339e3
175,Cheddar's Scratch Kitchen,Valdosta,American,34.303557,-83.860348,5a400848646e381ec695168d
176,Friends Grille and Bar,Valdosta,"American, Southern",30.881501,-83.295534,4c51bda9991c20a10f645288
177,Mom & Dad's Italian Restaurant,Valdosta,Italian,30.563427,-84.221336,5ac0016e5315930770ef624f
178,Blue House Cafe,Vernonia,"Coffee and Tea, Mediterranean",45.858520,-123.195524,4e10ca511495c8d31bc13716
179,HuHot Mongolian Grill,Waterloo,"Asian, Chinese",39.790060,-105.080725,52b0bbad498e614a519b7ecb
180,Texas Roadhouse,Waterloo,"American, BBQ, Steak",38.560731,-90.405451,4b04a491f964a520e45522e3
181,Golden China,Waterloo,Chinese,32.199490,-98.244641,4b6b0c47f964a5202fef2be3
182,Rudy's Tacos,Waterloo,Mexican,41.488843,-90.436297,4c76bfd45cd6b1f73ae13c94
183,The Thai Bowl,Waterloo,Thai,41.925739,-87.649404,4b1f1e06f964a520202424e3
184,Tokyo Japanese Steak House,Waterloo,"Japanese, Steak, Sushi",36.902448,-82.059873,4b6366bcf964a5202d772ae3

In [12]:
Rating =pd.DataFrame(columns=['rating'])
for i,r in df.iterrows():
    
    url2 = 'https://api.foursquare.com/v2/venues/{}?client_id={}&client_secret={}&v={}'.format(r['venue_id'], CLIENT_ID, CLIENT_SECRET, VERSION)
    try:
        rating = requests.get(url2).json()['response']['venue']['rating']
    except:
        rating=np.nan
    print(rating)
    Rating =Rating.append({'rating': rating}, ignore_index = True)
df= df.join(Rating, how ='outer')
df

ValueError: columns overlap but no suffix specified: Index(['rating'], dtype='object')

In [11]:
df.dropna(subset=['rating'], axis=0, inplace = True)

# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)
df

Empty DataFrame
Columns: [Restaurant Name, City, Cuisines, Latitude, Longitude, venue_id, rating]
Index: []